


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;
}

$device-list:320px,360px,375px,414px,750px;

html{
	@each $device in $device-list{
		@media screen and(min-width: $device){
			font-size: 100*($device/750);	
			
		}
	}

}
body{
	font-size: 16px;
}

@mixin bg(){

	$r:floor(random()*256);
	$g:floor(random()*256);
	$b:floor(random()*256);
	$a:floor(random()*3+6)/10;
	$color:rgba($r,$g,$b,$a);
	background: $color;
}


	.head{
		width:100%;
		height:0.4rem;
		background: #2BA6DC;
	}

	.wdxx{
		width:100%;
		height:1rem;
		background: #2BA6DC;
		padding:0 0.24rem;
		display: flex;
		align-items:center;
		.lefts{
			width:10%;
			height:0.48rem;
			.fh{
				width:100%;
				height:0.46rem;
				background: url(../images/return.png)no-repeat;
				background-position:center center;
				background-size:0.46rem 0.46rem; 

			}
		}
		.zhong{
			width:80%;
			height:1rem;
			background: url(../images/lanx.png) no-repeat;
			background-position:center center;
			background-size:0.37rem 0.06rem; 
			padding-top: 0.1rem;
			line-height: 1rem;
			display: flex;
			flex-direction:column;
			align-content:center;
			h2{
				width:100%;
				text-align: center;
				font-family: '微软雅黑';
				font-weight: normal;	
				font-size: 0.34rem;
				color:#fff;	
				line-height: 100%;
				margin-bottom:0.1rem;
			}
			h3{
				width:100%;
				text-align: center;
				font-family: '微软雅黑';
				font-weight: normal;	
				font-size: 0.14rem;
				line-height: 100%;
				color:#90DCFF;	
			}
		}
	}







.lb{
	width:100%;
	height:6.54rem;
	background: #FAFAFA;
	padding-top:0.4rem; 
	padding-left:0.88rem;
	padding-right:0.88rem;
	box-sizing:border-box;
	background: url(../images/content.png)no-repeat;
	background-position: center;
	background-size: 98% 6.5rem ;
	.lbs{
		text-align: center;
		h3{
			width:100%;
			font-size:0.3rem;
			font-family: '微软雅黑';
			font-weight: normal;
			color:#363636;

		}
		span{
			font-size: 0.12rem;
			font-family: '微软雅黑';
			color:#666666;
			
		}
		
	}

	.nr{
		width:100%;
		height:auto;
		margin-top: 0.62rem;
	}
	.nr p{
		font-size: 0.12rem;
		color:#8C8C8C;
		margin-bottom: 0.5rem;
	}


}


