@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Helvetica,"苹方 常规";
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  border: 0; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

body {
  font-size: 16px;
  background: #FAFAFA;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.header {
  height: 0.9rem;
  background: #29A6DC;
  padding: 0 0.22rem;
  display: flex;
  justify-content: space-around; }
  .header a {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    margin-top: 0.24rem;
    background: url(../images/sou.png) no-repeat center center;
    background-size: cover; }
    .header a span {
      font-size: 18px;
      color: #fff;
      display: none; }
  .header .header-search {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0.86rem;
    background: #2A3441;
    border-radius: 0.43rem;
    margin: 0.02rem 0; }
    .header .header-search .syn {
      width: 1.68rem;
      height: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .header .header-search .syn h3 {
        color: #fff;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .header .header-search .syn h3 span {
          color: #BDDBE8; }
    .header .header-search .syn.block {
      background: #29A6DC;
      border-radius: 0.35rem;
      border: 1px solid #fff; }
    .header .header-search .xian {
      width: 1px;
      height: 80%;
      background: url(../images/zong.png) no-repeat center;
      background-size: cover; }
    .header .header-search .circle {
      display: flex;
      opacity: 0; }
      .header .header-search .circle span {
        display: block;
        width: 0.08rem;
        height: 0.08rem;
        background: #fff;
        border-radius: 50%; }
    .header .header-search .c1 {
      position: absolute;
      top: 20%;
      margin-top: 0.04rem;
      left: 10%; }
    .header .header-search .c2 {
      position: absolute;
      top: 20%;
      margin-top: 0.04rem;
      right: 10%; }
    .header .header-search .circle.opacity {
      opacity: 1; }

.class-title {
  width: 100%;
  height: 0.6rem;
  background: #ACE1F8;
  box-shadow: 0 2px 5px #BDCDD4;
  display: flex;
  align-items: center;
  padding: 0 0.22rem; }
  .class-title .title-img {
    display: block;
    width: 0.4rem;
    height: 0.34rem;
    background: url(../images/wl.png) no-repeat center center;
    background-size: cover; }
  .class-title h2 {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    padding: 0 0.15rem; }

.girl {
  width: 100%;
  height: 3.32rem; }
