@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

.head {
  width: 100%;
  height: 0.4rem;
  background: #29A6DC; }

.xiugai {
  width: 100%;
  height: 4.35rem;
  background: #29A6DC;
  padding: 0.24rem;
  display: flex;
  /*align-items:center;*/ }
  .xiugai .fanhui {
    width: 10%;
    height: 0.48rem;
    background: url(../images/return.png) no-repeat;
    background-position: center center;
    background-size: 0.46rem 0.46rem; }
  .xiugai .xiugais {
    width: 80%;
    height: 4.35rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 4px; }
    .xiugai .xiugais h2 {
      width: 100%;
      text-align: center;
      color: #F2F2F2;
      font-family: "宋体";
      font-weight: normal;
      font-size: 18px;
      /*letter-spacing: 0.5px;*/ }
    .xiugai .xiugais span {
      width: 100%;
      text-align: center;
      color: #F2F2F2;
      font-size: 20px;
      font-family: "宋体";
      line-height: 3rem;
      letter-spacing: 1px; }

.content {
  width: 100%;
  height: 8.6rem;
  background: #F2F2F2; }
  .content .contents {
    width: 100%;
    height: 2.7rem;
    margin: 0 auto;
    padding-top: 1.44rem;
    padding-left: 0.38rem;
    padding-right: 0.38rem; }
    .content .contents p {
      width: 100%;
      /*text-align: center;*/
      font-size: 13px;
      font-family: "宋体";
      color: #0A196B; }
    .content .contents p:nth-child(2) {
      display: flex;
      justify-content: flex-end;
      /*justify-content:center;*/
      align-items: center;
      margin-top: 0.15rem; }
      .content .contents p:nth-child(2) span {
        width: 25px;
        height: 0.05rem;
        background: #0A196B; }
  .content input {
    width: 80%;
    height: 0.85rem;
    align-content: center;
    border-radius: 40px;
    background: url(../images/poser.png) no-repeat;
    margin-left: 10%;
    margin-top: 0.40rem;
    color: #B0B0B0;
    background-position: 18px;
    background-size: 0.46rem 0.46rem;
    padding-left: 55px;
    border: 1px solid #4C9AFB;
    padding-right: 45px; }
  .content .inputs {
    background: url(../images/poser.png) no-repeat;
    background-size: 0.46rem 0.46rem;
    background-position: 18px; }
  .content .contend {
    width: 80%;
    height: 0.9rem;
    /*background:#ccc;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .content .contend .contenda {
      width: 40%;
      height: 100%;
      background: url(../images/ma.png) no-repeat;
      background-size: 0.25rem 0.25rem;
      /*padding-right: 20px;*/
      background-position: center left 0.3rem; }
      .content .contend .contenda span {
        font-size: 12px;
        font-family: "宋体";
        color: #6F6F6F;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0.9rem; }
    .content .contend .contendb {
      width: 40%;
      height: 100%;
      background: url(../images/me.png) no-repeat;
      background-size: 0.25rem 0.25rem;
      /*padding-right: 20px;*/
      background-position: center left 0.3rem; }
      .content .contend .contendb span {
        font-size: 12px;
        font-family: "宋体";
        color: #6F6F6F;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0.9rem; }
  .content .dibu {
    width: 70%;
    height: 0.47rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 40px;
    background: #3ABFFD;
    margin-top: 0.7rem; }
    .content .dibu a {
      font-family: "宋体";
      font-size: 13px;
      color: #FFFFFF; }
