* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Helvetica; }

a {
  text-decoration: none; }

img {
  border: 0; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

body {
  font-size: 16px;
  background: #FAFAFA;
  box-sizing: border-box; }

.header {
  height: 0.9rem;
  background: #29A6DC;
  padding: 0 0.22rem;
  display: flex; }
  .header .header-title {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .header-title h2 {
      color: #fff;
      font-size: 18px; }
    .header .header-title .xian {
      background: url(../images/xian.png) no-repeat center center;
      background-size: cover;
      width: 0.34rem;
      height: 0.03rem; }
    .header .header-title h4 {
      font-size: 10px;
      color: #A3E3FF; }
  .header a {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    background: url(../images/sou.png) no-repeat center center;
    background-size: cover;
    margin-top: 0.2rem; }
    .header a span {
      font-size: 18px;
      color: #fff;
      display: none; }
