@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Helvetica,"苹方 常规";
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  border: 0; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

body {
  font-size: 16px;
  background: #FAFAFA;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.header {
  height: 0.9rem;
  background: #29A6DC;
  padding: 0 0.22rem;
  display: flex;
  justify-content: space-around; }
  .header a {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    margin-top: 0.24rem;
    background: url(../images/sou.png) no-repeat center center;
    background-size: cover; }
    .header a span {
      font-size: 18px;
      color: #fff;
      display: none; }
  .header .header-search {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0.86rem;
    background: #2A3441;
    border-radius: 0.43rem;
    margin: 0.02rem 0; }
    .header .header-search .syn {
      width: 1.68rem;
      height: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .header .header-search .syn h3 {
        color: #fff;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .header .header-search .syn h3 span {
          color: #BDDBE8; }
    .header .header-search .syn.block {
      background: #29A6DC;
      border-radius: 0.35rem;
      border: 1px solid #fff; }
    .header .header-search .xian {
      width: 1px;
      height: 80%;
      background: url(../images/zong.png) no-repeat center;
      background-size: cover; }
    .header .header-search .circle {
      display: flex;
      opacity: 0; }
      .header .header-search .circle span {
        display: block;
        width: 0.08rem;
        height: 0.08rem;
        background: #fff;
        border-radius: 50%; }
    .header .header-search .c1 {
      position: absolute;
      top: 20%;
      margin-top: 0.04rem;
      left: 10%; }
    .header .header-search .c2 {
      position: absolute;
      top: 20%;
      margin-top: 0.04rem;
      right: 10%; }
    .header .header-search .circle.opacity {
      opacity: 1; }

.sale-con {
  width: 100%;
  height: auto;
  margin-bottom: 0.2rem; }
  .sale-con .sale {
    width: 100%;
    height: 2.72rem;
    background: url(../images/bd1.png) no-repeat center center;
    background-size: cover; }
    .sale-con .sale .sale-zhe {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      display: flex; }
      .sale-con .sale .sale-zhe .sale-left {
        flex: 0 0 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .sale-con .sale .sale-zhe .sale-left h2 {
          color: #fff;
          font-size: 14px;
          display: flex; }
          .sale-con .sale .sale-zhe .sale-left h2 span {
            display: block;
            width: 0.08rem;
            height: 0.08rem;
            background: #fff;
            border-radius: 50%;
            align-self: center;
            margin: 0 0.15rem; }
        .sale-con .sale .sale-zhe .sale-left .en {
          font-size: 12px;
          color: #fff; }
        .sale-con .sale .sale-zhe .sale-left .book {
          width: 0.3rem;
          height: 0.3rem;
          background: url(../images/ts.png) no-repeat center center;
          background-size: cover; }
        .sale-con .sale .sale-zhe .sale-left p {
          font-size: 12px;
          color: #fff;
          text-align: center; }
      .sale-con .sale .sale-zhe .sale-right {
        flex: 0 0 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between; }
        .sale-con .sale .sale-zhe .sale-right h2 {
          font-size: 14px;
          color: #fff;
          font-weight: 800;
          line-height: 1.5; }
          .sale-con .sale .sale-zhe .sale-right h2 span {
            font-size: 11px;
            color: #fff;
            font-weight: normal; }

.footer {
  width: 100%;
  height: 1rem;
  background: #151C2B; }
  .footer .footer-con {
    width: 100%;
    height: 100%;
    display: flex; }
    .footer .footer-con .con {
      flex: 0 0 33.333%;
      border-right: 1px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .footer-con .con .con-img {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background: url(../images/jia1.png) no-repeat center center;
        background-size: cover; }
      .footer .footer-con .con h3 {
        color: #646567;
        font-size: 12px; }
    .footer .footer-con .con:nth-child(2) .con-img {
      background: url(../images/wbook.png) no-repeat center center;
      background-size: cover; }
    .footer .footer-con .con:nth-child(3) .con-img {
      background: url(../images/wo.png) no-repeat center center;
      background-size: cover; }
