*{
  margin:0;
  padding:0;
  list-style:none;
  font-family:Helvetica;
  box-sizing:border-box;

}
a{
  text-decoration:none;
}
img{
  border:0;
}
$padding:0 0.22rem;
$list:320px,360px,365px,375px,414px;
html{
  @each $device in $list{
    @media screen and(min-width:$device){
      font-size:100 * ($device/750);
    }
  }
}
body{
  font-size:16px;
  background:#FAFAFA;
  box-sizing:border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
//头部
.header{
  height:0.9rem;
  background:#29A6DC;
  padding:$padding;
  display:flex;
  position:relative;
  z-index:2;
  a{
    display:block;
    width:0.48rem;
    height:0.48rem;
    margin-top:0.24rem;
    span{
      font-size:18px;
      color:#fff;
      display:none;
    }
    &:nth-child(1){
      background:url(../images/return.png) no-repeat center center;
      background-size:cover;
    }
  }
  .header-search{
    flex:1;
    display:flex;
    margin:0.2rem;
    button{
      width:0.6rem;
      height:0.54rem;
      border:0;
      background:#F6F6F6 url(../images/insou.png) no-repeat center center;
      background-size:0.27rem;
      border-top-left-radius:0.27rem;
      border-bottom-left-radius:0.27rem;
      outline:none;
    }
    input{
      flex:1;
      border:0;
      background:#fff;
      height:0.54rem;
      padding-left:0.15rem;
      border-top-right-radius:0.27rem;
      border-bottom-right-radius:0.27rem;
      outline:none;
    }
  }
}
//列表
section{
  .colthing-con{
    width:100%;
    height:3.72rem;
    background:#fff;
    border-radius:10px;
    margin-top:0.18rem;
    box-shadow:2px 0px 5px #D4D4D4;
    display:flex;
    .con-left{
      width:33.3333%;
      height:100%;
      padding:0.1rem 0.26rem;
      .con-img{
        width:100%;
        height:100%;
        background:url(../images/f1.png) no-repeat center center;
        background-size:cover;
      }
    }
    .con-right{
      flex:1;
      height:100%;
      padding:0.3rem 0.26rem 0.3rem 0.06rem;
      display:flex;
      flex-direction:column;
      h2{
        font-size:14px;
        color:#333;
        display:flex;
        flex-direction:column;
        span{
          font-size:12px;
          color:#999;
          font-weight:normal;
        }
      }
      .content{
        font-size:12px;
        color:#666;
        line-height:1.2;
        padding-top:0.15rem;
      }
      .writer{
        width:100%;
        padding-top:0.15rem;
        display:flex;
        .writer-left{
          flex:1;
          display:flex;
          flex-direction:column;
          p{
            font-size:12px;
            color:#666;
            line-height:1.5;
          }
          .xj{
            flex:1;
            height:0.48rem;
            background:url(../images/xingji.png) no-repeat;
            background-size:cover;
          }
        }
        .writer-right{
          flex:1;
          display:flex;
          align-items:flex-end;
          .writer-click{
            width:100%;
            height:0.58rem;
            border-radius:0.29rem;
            background:#29A6DC;
            display:flex;
            justify-content:center;
            align-items:center;
            position:relative;
            .circle{
              width:0.08rem;
              height:0.08rem;
              background:#fff;
              border-radius:50%;
            }
            .c1{
              position:absolute;
              left:0.2rem;
              top:50%;
              margin-top:-0.04rem;
            }
            .c2{
              position:absolute;
              right:0.2rem;
              top:50%;
              margin-top:-0.04rem;
            }
            .see-img{
              display:block;
              width:0.24rem;
              height:0.22rem;
              background:url(../images/kan.png) no-repeat;
              background-size:cover;
            }
            .see{
              color:#fff;
              font-size:12px;
            }
          }
        }
      }
    }
  }
}
//遮罩
.zhe{
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.4);
  z-index:1;
  position:absolute;
  left:0;
  top:0;
}
//排序
.sort{
  width:100%;
  height:4.18rem;
  background:#fff;
  position:absolute;
  top:0.9rem;
  left:0;
  z-index:2;
  border-bottom-left-radius:0.5rem;
  border-bottom-right-radius:0.5rem;
  overflow:hidden;
  .sort-title{
    width:100%;
    height:1.18rem;
    padding:0.18rem 0.9rem;
    .sort-con{
      width:100%;
      height:0.84rem;
      background:#2A3441;
      border-radius:0.41rem;
      padding:0.08rem;
      display:flex;
      .syn{
        width:2.38rem;
        height:0.68rem;
        background:#29A6DC;
        border:1px solid #fff;
        border-radius:0.34rem;
        margin-right:0.3rem;
        h3{
          color:#fff;
          font-size:12px;
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          span{
            color:#BDDBE8;
            font-size:10px;
            font-weight:normal;
          }
        }
      }
      .xian{
        width:5px;
        height:100%;
        background:url(../images/zong.png) no-repeat center;
        background-size:cover;
      }
      .time{
        width:2.38rem;
        height:0.68rem;
        margin-right:0.3rem;
        h3{
          color:#fff;
          font-size:12px;
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          span{
            color:#BDDBE8;
            font-size:10px;
            font-weight:normal;
          }
        }
      }
    }
  }
  .checked{
    width:100%;
    height:3rem;
    background:#FAFAFA;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:space-around;
    .one{
      flex:0 0 30%;
      height:0.44rem;
      border-radius:0.22rem;
      border:1px solid #2A3441;
      display:flex;
      justify-content:center;
      align-items:center;
      h3{
        color:#2A3441;
        font-size:12px;
      }
    }
    .write{
      background:#29A6DC;
      border:0;
      h3{
        color:#fff;
      }
    }
  }
}