@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

.head {
  width: 100%;
  height: 0.4rem;
  background: #2BA6DC; }

.wdxx {
  width: 100%;
  height: 1rem;
  background: #2BA6DC;
  padding: 0 0.24rem;
  display: flex;
  align-items: center; }
  .wdxx .lefts {
    width: 10%;
    height: 0.48rem; }
    .wdxx .lefts .fh {
      width: 100%;
      height: 0.46rem;
      background: url(../images/return.png) no-repeat;
      background-position: center center;
      background-size: 0.46rem 0.46rem; }
  .wdxx .zhong {
    width: 80%;
    height: 1rem;
    background: url(../images/lanx.png) no-repeat;
    background-position: center center;
    background-size: 0.37rem 0.06rem;
    padding-top: 0.1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .wdxx .zhong h2 {
      width: 100%;
      text-align: center;
      font-family: '微软雅黑';
      font-weight: normal;
      font-size: 0.34rem;
      color: #fff;
      line-height: 100%;
      margin-bottom: 0.1rem; }
    .wdxx .zhong h3 {
      width: 100%;
      text-align: center;
      font-family: '微软雅黑';
      font-weight: normal;
      font-size: 0.14rem;
      line-height: 100%;
      color: #90DCFF; }

.xxk {
  width: 100%;
  height: 1.14rem;
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center; }
  .xxk .xxks {
    width: 5.74rem;
    height: 0.88rem;
    background: #2C3744 url(../images/zong.png) no-repeat;
    background-position: center center;
    background-size: 0.05rem 0.61rem;
    border-radius: 0.43rem;
    padding-top: 0.02rem;
    position: relative;
    display: flex;
    justify-content: space-between; }
  .xxk .span1 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: '宋体';
    /*display: block;*/
    position: absolute;
    left: 0.64rem;
    top: 0.2rem;
    /*display: none;*/ }
  .xxk .ps1s {
    font-size: 0.12rem;
    color: #98CEE5;
    position: absolute;
    left: 0.4rem;
    top: 0.5rem;
    /*display: none;*/ }
  .xxk .span2 {
    color: #fff;
    text-align: center;
    font-size: 0.14rem;
    font-family: '宋体';
    position: absolute;
    right: 0.6rem;
    top: 0.2rem;
    /*display: none;*/ }
  .xxk .ps2s {
    font-size: 0.12rem;
    color: #98CEE5;
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    /*display: none;*/ }
  .xxk .xxks .xxkl {
    width: 2.41rem;
    height: 0.86rem;
    background: url(../images/btbg.png) no-repeat;
    background-position: center center;
    background-size: 2.41rem 0.98rem;
    margin-left: -0.05rem;
    padding-top: 0.15rem;
    text-align: center;
    opacity: 0;
    /*display: none;*/ }
    .xxk .xxks .xxkl .spanl {
      font-size: 0.24rem;
      font-family: '宋体';
      color: #fff;
      margin-top: 0.15rem; }
    .xxk .xxks .xxkl .ps1 {
      font-size: 0.12rem;
      color: #98CEE5; }
  .xxk .xxks .xxkr {
    width: 2.41rem;
    height: 0.86rem;
    background: url(../images/btbg.png) no-repeat;
    background-position: center center;
    background-size: 2.41rem 0.98rem;
    margin-right: -0.08rem;
    padding-top: 0.15rem;
    text-align: center;
    /*display: none;*/ }
    .xxk .xxks .xxkr .spanls {
      font-size: 0.14rem;
      font-family: '宋体';
      color: #fff;
      display: none; }
    .xxk .xxks .xxkr .ps2 {
      font-size: 0.12rem;
      color: #98CEE5;
      display: none; }

.lb {
  width: 100%;
  height: 5.6rem;
  background: #FAFAFA;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  box-sizing: border-box; }
  .lb .lbk {
    width: 100%;
    height: 5.6rem;
    background: #fff;
    box-shadow: 0 0 5px 5px #E3E3E3;
    border-radius: 5px; }
  .lb .lbk .lbs {
    width: 100%;
    height: 1.12rem;
    border-bottom: 0.01rem dashed  #999999;
    padding-left: 0.15rem;
    position: relative;
    display: flex;
    /*flex-direction:column;*/
    align-items: center; }
  .lb .lbk .lbs .lbsz {
    width: 0.72rem;
    height: 0.72rem;
    border: 2px solid #fff;
    background: url(../images/tou.png) no-repeat;
    background-size: 0.72rem 0.72rem;
    background-position: center center;
    border-radius: 50%; }
  .lb .lbk .lbs .zi {
    width: 75%;
    height: 1.12rem;
    display: flex;
    flex-direction: column;
    /*align-items:center;*/
    justify-content: center; }
  .lb .lbk .lbs .zi h2 {
    font-weight: normal;
    font-size: 0.24rem;
    font-family: '微软雅黑';
    margin-left: 0.15rem; }
  .lb .lbk .lbs .zi span {
    font-size: 0.12rem;
    font-family: '微软雅黑';
    margin-left: 0.15rem;
    color: #8C8C8C; }
  .lb .lbk .lbs .zi p {
    font-size: 0.12rem;
    font-family: '微软雅黑';
    margin-left: 0.15rem;
    color: #8C8C8C; }
  .lb .lbk .lbs .sj {
    width: 25%;
    height: 1.12rem;
    padding-top: 0.26rem;
    padding-left: 0.36rem;
    background: url(../images/time.png) no-repeat;
    background-size: 0.20rem 0.20rem;
    background-position: 0 0.36rem; }
  .lb .lbk .lbs .sj span {
    font-size: 0.12rem;
    font-family: '微软雅黑';
    color: #8C8C8C; }
