


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;
}

$device-list:320px,360px,375px,414px,750px;

html{
	@each $device in $device-list{
		@media screen and(min-width: $device){
			font-size: 100*($device/750);	
			
		}
	}

}
body{
	font-size: 16px;
}

@mixin bg(){

	$r:floor(random()*256);
	$g:floor(random()*256);
	$b:floor(random()*256);
	$a:floor(random()*3+6)/10;
	$color:rgba($r,$g,$b,$a);
	background: $color;
}


	.head{
		width:100%;
		height:0.4rem;
		background: #2BA6DC;
	}

	.wdxx{
		width:100%;
		height:1rem;
		background: #2BA6DC;
		padding:0 0.24rem;
		margin-bottom: 0.3rem;
		display: flex;
		align-items:center;
		.lefts{
			width:10%;
			height:0.48rem;
			.fh{
				width:100%;
				height:0.46rem;
				background: url(../images/return.png)no-repeat;
				background-position:center center;
				background-size:0.46rem 0.46rem; 

			}
		}
		.zhong{
			width:80%;
			height:1rem;
			background: url(../images/lanx.png) no-repeat;
			background-position:center center;
			background-size:0.37rem 0.06rem; 
			padding-top: 0.1rem;
			line-height: 1rem;
			display: flex;
			flex-direction:column;
			align-content:center;
			h2{
				width:100%;
				text-align: center;
				font-family: '微软雅黑';
				font-weight: normal;	
				font-size: 0.34rem;
				color:#fff;	
				line-height: 100%;
				margin-bottom:0.1rem;
			}
			h3{
				width:100%;
				text-align: center;
				font-family: '微软雅黑';
				font-weight: normal;	
				font-size: 0.14rem;
				line-height: 100%;
				color:#90DCFF;	
			}
		}
	}








.lb{
	width:100%;
	height:3.58rem;
	background: #FAFAFA;
	padding-left:0.24rem;
	padding-right:0.24rem;
	margin-bottom: 0.3rem;
	box-sizing:border-box;
	.lbk{
		width:100%;
		height:3.58rem;
		background: #fff;
		box-shadow:0 0 5px 5px #F0F0F0;
		border-radius: 5px;
	}
	.lbk .lbs{
		width:100%;
		height:0.88rem;
		border-bottom: 0.01rem dashed  #999999;
		padding-left: 0.64rem;
		padding-top:0.18rem; 
		position: relative;
		display: flex;
		flex-direction:column;
	}
	.lb1{
		background: url(../images/user.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}
	.lb2{
		background: url(../images/zhanghu.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}
	.lb3{
		background: url(../images/ni.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}
	.lb4{
		background: url(../images/sex.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}
	.lbk .lbs .span{
		/*width:100%;*/
		height:0.28rem;
		font-family: '宋体';
		font-size:0.28rem;
		color:#363636;
		display: block;
	}
	.lbk .lbs .sp{
		font-family: '宋体';
		font-size:0.12rem;
		color:#B3B3B3;
		display: block;
	}
	.lbk .lbs .jt{
		width:20%;
		height:0.88rem;
		position: absolute;
		text-align: center;
		line-height: 0.88rem;
		right:0;
		top:0;
		span{
			font-size: 0.12rem;
			color:#363636;
		}
	}
	.lbk .lbs .jt1{
		background: url(../images/jt.png)no-repeat;
		background-position: 1rem center;
		background-size: 0.12rem 0.2rem;
	}
	.lbk .lbs .jt4{
		background: url(../images/jt.png)no-repeat;
		background-position: 1rem center;
		background-size: 0.12rem 0.2rem;
	}
}









.lbs{
	width:100%;
	height:1.8rem;
	background: #FAFAFA;
	padding-left:0.24rem;
	padding-right:0.24rem;
	box-sizing:border-box;
	.lbks{
		width:100%;
		height:1.8rem;
		background: #fff;
		box-shadow:0 0 5px 5px #F0F0F0;
		border-radius: 5px;
	}
	.lbks .lbss{
		width:100%;
		height:0.88rem;
		border-bottom: 0.01rem dashed  #999999;
		padding-left: 0.64rem;
		padding-top:0.18rem; 
		position: relative;
		display: flex;
		flex-direction:column;
	}
	.lb1{
		background: url(../images/iphone.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}
	.lb2{
		background: url(../images/suo.png)no-repeat;
		background-size:0.34rem 0.34rem; 
		background-position: 0.15rem center ;
	}

	.lbks .lbss .span{
		/*width:100%;*/
		height:0.28rem;
		font-family: '宋体';
		font-size:0.28rem;
		color:#363636;
		display: block;
	}
	.lbks .lbss .sp{
		font-family: '宋体';
		font-size:0.12rem;
		color:#B3B3B3;
		display: block;
	}
	.lbks .lbss .jts{
		width:20%;
		height:0.88rem;
		position: absolute;
		text-align: center;
		line-height: 0.88rem;
		right:0;
		top:0;
		span{
			font-size: 0.12rem;
			color:#363636;
		}
	}
	.lbks .lbss .jt2{
		background: url(../images/jt.png)no-repeat;
		background-position: 1rem center;
		background-size: 0.12rem 0.2rem;
	}

}









.mh{
	filter:blur(5px);
	
}

.zz{
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	top:0;
	left:0;
}


	.ydtx{
		width:4.8rem;
		height:2.95rem;
		background: #fff;
		position: absolute;
		/*overflow: hidden;*/
		left:50%;
		margin-left: -2.4rem;
		top:50%;
		margin-top: -2.81rem;
		border-radius: 10px;
		.ydtxs{
			width:100%;
			height:0.82rem;
			padding-left: 1.1rem;
			padding-right: 0.5rem;
			border-radius:10px 10px 0px 0px;
			background:#2BDCBC url(../images/wme.png)no-repeat;
			background-size: 0.6rem 0.6rem;
			background-position: 0.5rem center;
			display: flex;
			/*align-items:center;*/
			flex-direction:column;
			justify-content:center;
			h2{
				font-size: 0.24rem;
				color:#ffffff;
				font-weight: normal;
			}
			span{
				font-size: 0.12rem;
				color:#ffffff;
			}

		}
		.ydtxz{
			width:100%;
			height:1.8rem;
			display: flex;
			justify-content:space-around;
			align-items:center;
			padding-left: 0.6rem;
			padding-right: 0.6rem;
			.tubiao{
				width:0.89rem;
				height:0.89rem;
				/*background: red;*/
				border-radius: 50%;
			}

		}

		.nan{
			background: url(../images/boy.png)no-repeat;
			background-position:center center ;
			background-size: cover;
		}
		.nv{
			background:url(../images/nv.png)no-repeat;
			background-position:center center ;
			background-size:cover;
		}
	

		.qd{
				width:2.56rem;
				height:0.68rem;
				border-radius: 0.34rem;
				background:#29DD8B;
				text-align: center;
				line-height: 0.68rem;
				position: absolute;
				left:50%;
				margin-left: -1.28rem;
				/*top:0.2rem;*/
			}
			.qd span{
				font-size: 0.28rem;
				color:#ffffff;
			}
	}
	