@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

.head {
  width: 100%;
  height: 0.4rem;
  background: #2BA6DC; }

.wdxx {
  width: 100%;
  height: 1rem;
  background: #2BA6DC;
  padding: 0 0.24rem;
  display: flex;
  align-items: center; }
  .wdxx .lefts {
    width: 10%;
    height: 0.48rem; }
    .wdxx .lefts .fh {
      width: 100%;
      height: 0.46rem;
      background: url(../images/return.png) no-repeat;
      background-position: center center;
      background-size: 0.46rem 0.46rem; }
  .wdxx .zhong {
    width: 80%;
    height: 1rem;
    background: url(../images/lanx.png) no-repeat;
    background-position: center center;
    background-size: 0.37rem 0.06rem;
    padding-top: 0.1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .wdxx .zhong h2 {
      width: 100%;
      text-align: center;
      font-family: '微软雅黑';
      font-weight: normal;
      font-size: 0.34rem;
      color: #fff;
      line-height: 100%;
      margin-bottom: 0.1rem; }
    .wdxx .zhong h3 {
      width: 100%;
      text-align: center;
      font-family: '微软雅黑';
      font-weight: normal;
      font-size: 0.14rem;
      line-height: 100%;
      color: #90DCFF; }

.lb {
  width: 100%;
  height: 3.24rem;
  background: #FAFAFA;
  padding: 0.24rem;
  box-sizing: border-box; }
  .lb .lbk {
    width: 100%;
    height: 3.24rem;
    background: #fff;
    box-shadow: 0 0 5px 5px #E3E3E3;
    border-radius: 5px;
    padding: 0.20rem; }
  .lb .lbk .yj {
    width: 100%;
    height: 1.0rem;
    background: url(../images/fankui.png) no-repeat;
    background-position: 0 center;
    background-size: 0.4rem 0.4rem;
    padding-left: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .lb .lbk .yj h2 {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: '微软雅黑';
    color: #363636; }
  .lb .lbk .yj span {
    width: 100%;
    font-size: 0.12rem;
    font-weight: normal;
    font-family: '宋体';
    color: #ACACAC; }

.tj {
  width: 100%;
  height: 0.74rem; }
  .tj .tjs {
    width: 6.08rem;
    height: 0.74rem;
    border-radius: 0.37rem;
    background: #29DD8B;
    margin: 0.56rem auto;
    line-height: 0.74rem;
    padding-left: 0.34rem;
    padding-right: 0.34rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .tj .tjs span {
    width: 80%;
    height: 0.74rem;
    text-align: center;
    font-family: '微软雅黑';
    color: #ffffff; }
  .tj .tjs .yuan {
    width: 0.1rem;
    height: 0.1rem;
    background: #fff;
    border-radius: 50%; }
