*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
$device-list:320px,360px,365px,412px,414px,600px,750px;
html{
  @each $device in $device-list{
    @media screen and (min-width: #{$device}){
      font-size: 100*($device/750);
    }

  }
}
body{
  background: #ffe7a7;
  //font-size: 0.12rem;
}
div.toubu{
  display: flex;
  margin-bottom: 0.22rem;
  margin-top: 0.2rem;
  .dsx{
  width: 0.2rem;
    height: 0.01rem;
  border-bottom:  0.01rem solid black;
    margin-top: 0.14rem ;
    margin-left: 0.22rem;
    margin-right: 0.1rem;
}
  .zuozhe{
    color: #3a3730;
    font-size:0.16rem ;
  }
  .csx{
    width: 70%;
    height: 0.01rem;
    border-bottom:  0.01rem solid black;
    margin-top: 0.14rem ;
    margin-left: 0.1rem;
  }
}

h1{
  font-size: 14px;
  color: #454138;
  margin-left: 0.35rem;
  margin-bottom: 0.26rem;
}
p{
  font-size: 12px;
  color: #3a3730;
  margin-bottom: 0.44rem;
  margin-left: 0.5rem;
  margin-right: 0.85rem;
  text-indent: 2em;
}
.jiewei{
  text-indent: 0;
  color: #363028;
  span:nth-child(1){
    display: block;
    float: left;
  }
  span:nth-child(2){
    display: block;
    float: right;
  }
}